<main class="container flex items-center flex-col gap-6 justify-center my-12">
  <h1 class="text-3xl sm:text-4xl font-bold text-zinc-700 text-center">
    Remember a word
    <br />
    <span class="bg-gradient-to-r from-purple-400 to-purple-600 text-transparent bg-clip-text">
      forever
    </span>{" "}
    with our new AI!
  </h1>
  <h3 class="font-light sm:text-base text-sm text-zinc-600 text-center">
    The best AI service for learning
    <br />
    another language. Start now for free!
  </h3>
  <div class="flex gap-4">
    <button
      
    class="py-2 px-4 bg-zinc-100 text-zinc-600 border border-zinc-200 rounded-lg hover:bg-zinc-200 duration-150"
    >
    Let's try
    </button>
    <button
      
    class="py-2 px-4 bg-violet-600 text-white border border-purple-200 rounded-lg hover:bg-violet-700 duration-150"
    >
    Go to account
    </button>
  </div>
  <div class="w-4/5 bg-gray-200 rounded-xl h-64"></div>
</main>