---
interface Props {
  title: string;
  desc1: string;
  desc2: string;
  image: string;
}

const { title, desc1, desc2, image } = Astro.props;
---

<section class="flex md:flex-row flex-col container gap-8 min-h-72 py-12">
  <div class="max-w-md flex flex-col justify-between h-full">
    <div class="flex flex-col gap-2">
      <h2 class="text-2xl font-bold text-zinc-700">{title}</h2>
      <p class="text-sm font-light text-zinc-500">
        {desc1}
      </p>
    </div>
    <p class="text-sm font-light text-zinc-700 mt-16">
      {desc2}
    </p>
  </div>
  <img src={`/${image}_paradox.png`} class="w-full h-72 object-scale-down" />
</section>
