<section class="flex container gap-8 min-h-72">
  <div class="max-w-md flex flex-col justify-between h-full">
    <div class="flex flex-col gap-2">
      <h2 class="text-2xl font-bold text-zinc-700">
        Странный парадокс… 😵‍💫
      </h2>
      <p class="text-sm font-light text-zinc-500">
        Учить отдельные слова сложнее чем учить через предложении. Через примеры человеческий мозг запоминает информации гораздо быстрее и на долгий срок
      </p>
    </div>
    <p class="text-sm font-light text-zinc-700 mt-16">
      Это то что мы делаем в Syncword. Мы объясняем значение слов через несколько примеров, и показываем его значение в контексте
    </p>
  </div>
  <div class="w-full h-72 bg-zinc-200">
  </div>
</section>